
.ui.container{
    width: 100%;
    padding: 1%;
}
.ui.buttons.pagination{
    width: 10%;

}
.sf-menu{
    display: inline-grid;

}

.reactEasyCrop_Container{
    max-width: 250px;
    max-height: 250px;
    left: 35% !important;
    top: 50px !important;
}
.crop-container {
    right: 0;
    bottom: 80px;
    max-width: 200px;
    max-height: 200px;
}

.col-lg-3{
    width:200px !important;

}
.stylish-color-dark {
    background-color: black !important;
}
.page-footer {
    bottom: 0;
    color: #fff;
}
#modal {
    position:  fixed;
    width: 600px;
    top: 40px;
    left: calc(50% - 300px);
    bottom: 40px;
    z-index: 100;
}
.ui.active.modal{
    position: relative !important;
}

.ui.three.cards .card{
    width: 350px!important;
    box-shadow: 10px 10px 5px grey;


}




.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
    color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 30px;
    height: 30px;
    float: left;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 12px;
    width: 12px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 3em 1.5em 0;
    font-size: 1.15em;
    box-shadow: 10px 10px 10px 10px black;
}
.bm-menu-wrap{
    top:0;
    width: 480px !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.cart-content {
    position: absolute  !important;
    top:30px !important;
    right: 0 !important;
    width:480px;
    height: 100%;
    background-color: #fff;
    z-index: 101;
    transition: all .2s ease-in-out;
    padding: 1rem;
    overflow-y: auto;
}
.search form button{
    left: 450px !important;
}

.increaseDecreaseCartItem:hover {
    border-color: red;
    color: red;
}

.increaseDecreaseCartItem {
    width: 100%;
    text-align: center;
    display: block;
    padding: 12px 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #959595;
    border: 2px solid #e6e6e6;
    border-radius: 3rem;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

